body{
    background-color: black;
}

/* Header Text */
#header{
    text-align: center;
    background: rgb(42, 42, 245); 
    padding:20px 20px;
    color: white;
    font-size: 50px;
    border-radius: 50px;
    
}

/* Current Forecast H/W */
.currentCard {
    text-align: center;
    max-width: 500px;
    max-height: 520px;
    background-color: #1E90FF !important;
    border: 2px solid white !important;
}


/* Formatting for Search h2*/
.search-header{
    font: bold;
    font-size: x-large;
    text-decoration: underline;
    border: 2px solid white;
}

/* Class for when 5day renders */
.fiveDay{
    padding: 20px;
    background-color: #1E90FF;
    color: white;
    float: left;
    margin: 10px;
    border: 2px solid white;
}

/* Icon in currentDay weather */
.weatherImg{
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;

}

/* UV-index colors */

.favorable {
    color: lightgreen !important;
    
}

.moderate {
    color: yellow !important;
   
}

.severe{
    color: red !important;

}
/* Previous City Btn */
.cityBtn{
    color: white;
    background: #1E90FF;
   border-radius: 10%;
   
 
}

/* Formatting for Previous search h3 */
 .list-previous-city{
     text-decoration: underline;
     text-align: left;
     font-size: x-large;
     border: 2px solid white;
     
 }

/* Search Bar */
 #search-bar{
     width: 250px;
    height: 32px;
    font-size: x-large;
 }

/* Search Icon */
 #searchBtn {
     color: blue;
     background:none;
     border: none;
     font-size: x-large;
 }

 /* FA Sun in header */
 .fa-sun{
     color: gold;
 }